/* ================================================= General Setup ================================================= */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* font-family: 'Chillax', sans-serif;
font-family: 'Satoshi', sans-serif; */

/* ================================================= Interface ================================================= */

#interface {
  position: relative;
}

/* ================================================= Canvas ================================================= */

canvas {
  display: block;
}

canvas:hover {
  cursor: pointer !important;
}

/* ================================================= Bootstrap ================================================= */

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

/* ================================================= Bootstrap ================================================= */

#daveContainer {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#daveContainer img {
  width: 100px;
  height: 100px;
}

