/* ================================================= General Setup ================================================= */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ================================================= Canvas ================================================= */

canvas {
  display: block;
}

/* ================================================= Bootstrap ================================================= */

.offcanvas-backdrop.show {
  opacity: 0 !important;
}
