/* ================================================= General Setup ================================================= */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* *:focus-visible {
  outline: 2px red solid !important;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

/*=================================================== Loader ===================================================== */

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-border {
  width: 10rem;
  height: 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 1.6rem !important;
}

/* font-family: 'Chillax', sans-serif;
font-family: 'Satoshi', sans-serif; */

/* ================================================= Interface ================================================= */

#interface {
  height: 96vh;
  position: relative;
}

/* ================================================= Canvas ================================================= */

canvas {
  display: block;
}


/* ================================================= Footer ================================================= */

footer {
  position: fixed;
  font-weight: bold;
  top: 96.1vh;
  width: 100%;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.322);
  text-align: center;
  z-index: 1;
}

footer a {
  color: white;
  text-decoration: none;
}


/* ================================================= Bootstrap ================================================= */

.offcanvas-backdrop.show {
  display: none;
}

.offcanvas {
  background-color: rgba(255,255,255,0.8) !important;
  border-radius: 30px 1px 1px 30px;
  padding: 20px 10px;
}

 .title-pop-up{
  background-color: white;
  display: flex !important;
  justify-content: center !important;
  padding: 7px;
  border-radius: 18px;
}

.choice {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255,80,80,0.8);
  color: white;
  transition: 0.4s;
}

.choice:hover {
  padding: 12px;
  background-color:rgba(255,80,80,1);
}

.graph-container {
  background-color: white;
  border-radius: 18px;
  padding: 4px;
  margin-top: 16px;
}

button .close {
  background-color: white;
}
/* ================================================= Filter ================================================= */

#filterContainer input {
  /* opacity: 0; */
}

/* ================================================= Dave ================================================= */

#daveContainer {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#daveContainer img {
  width: 100px;
  height: 100px;
}

